/* Burger */

$burger-padding: 7px;
$burger-width: 28px;
$burger-height: 24px;
$burger-bg: none;
$burger-color: $second-color;
$burger-line-width: 2px;
$burger-line-radius: 50px;

.burger {
	padding: $burger-padding;
	margin: $burger-padding * -1;
	background: $burger-bg;
	border: none;
	position: relative;
	display: none;
	
	@media (max-width: $mobile-menu) {
		display: block;
  	}
	
	&__icon {
		display: block;
		width: $burger-width;
		height: $burger-height;
		position: relative;

		@media (max-width: $mobile) {
			width: 18px;
			height: 14px;
		}
	}
	&__line {
		display: block;
		background: $burger-color;
		height: $burger-line-width;
		border-radius: $burger-line-radius;
		position: absolute;
		width: 100%;
		transition-duration: 0.2s;
		transition-property: transform, top, bottom, opacity;
		transition-delay: 0s, 0.1s, 0.1s, 0s;
		
		&_1 {top: 0;}
		&_2 {top: 50%; transform: translateY(-50%);}
		&_3 {bottom: 0;}
	}
}
