/* Form */

.form {

	&__label {
		font-weight: 400;
		font-size: 16px;
		color: $lightblack;
		display: block;
		margin-bottom: 11px;

		@media (max-width: $mobile) {
			font-size: 13px;
			margin-bottom: 9px;
		}
	}

	&__input {
		font-weight: 400;
		font-size: 15px;
		color: $mediumblue;
		border: 1px solid $border-color;
		border-radius: 15px;
		height: 50px;
		width: 100%;
		padding: 0 20px;
		transition: border-color 0.3s;

		&::placeholder {
			color: $mediumblue;
		}
		&:hover {
			border-color: darken($border-color, 7%);
		}
		&:focus {
			border-color: $mediumblue;
		}
		&:user-invalid {
			border-color: $red;
		}

		@media (max-width: $mobile) {
			font-size: 12px;
			height: 40px;
			border-radius: 10px;
			padding: 0 15px;
		}

		&_date {
			background: url(../img/icons/arrow-down.svg) center right 20px / 12px no-repeat;

			@media (max-width: $mobile) {
				background-position: center right 17px;
				background-size: 10px;
			}
		}
	}
}

/* Flatpickr calendar */

.flatpickr-calendar {
	.flatpickr-day.selected, 
	.flatpickr-day.startRange, 
	.flatpickr-day.endRange, 
	.flatpickr-day.selected.inRange, 
	.flatpickr-day.startRange.inRange, 
	.flatpickr-day.endRange.inRange, 
	.flatpickr-day.selected:focus, 
	.flatpickr-day.startRange:focus, 
	.flatpickr-day.endRange:focus, 
	.flatpickr-day.selected:hover, 
	.flatpickr-day.startRange:hover, 
	.flatpickr-day.endRange:hover, 
	.flatpickr-day.selected.prevMonthDay, 
	.flatpickr-day.startRange.prevMonthDay, 
	.flatpickr-day.endRange.prevMonthDay, 
	.flatpickr-day.selected.nextMonthDay, 
	.flatpickr-day.startRange.nextMonthDay, 
	.flatpickr-day.endRange.nextMonthDay {
		background-color: $main-color;
		border-color: $main-color;
	}
}
