$font-family: 'Inter', sans-serif;

$main-color: #1814F3;
$second-color: #343c6a;
$border-color: #e6eff5;
$border-color-light: #f4f5f7;
$white: #FFFFFF;
$black: #000000;
$lightblack: #232323;
$mediumblue: #8ba3cb;
$softblue: #718ebf;
$lightblue: #f6f7fb;
$gray: #b1b1b1;

$mobile-menu: 1199px; // media max-width для мобильного меню
$mobile: 767px; // media max-width для мобильных

$text-size: 16px; // размер основного текста
$text-color: #000000; // цвет текста на сайте
$background-color: #f6f7fb; // цвет фона на сайте