<nav class="menu">
	<button class="menu__close"></button>
	<a href="/" class="menu__logo"><img src="img/logo.svg" alt=""></a>
	<div class="menu__links">
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/home.svg" alt="">Dashboard</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/transfer.svg" alt="">Transactions</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/user.svg" alt="">Accounts</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/investment.svg" alt="">Investments</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/credit-card.svg" alt="">Credit Cards</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/loan.svg" alt="">Loans</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/service.svg" alt="">Services</a>
		<a class="menu__link" href="#"><img class="menu__icon" src="img/icons/econometrics.svg" alt="">My Privileges</a>
		<a class="menu__link menu__link_active" href="#"><img class="menu__icon" src="img/icons/settings.svg" alt="">Setting</a>
	</div>
</nav>