<section class="setting">
	<div class="setting__nav">
		<a href="#" class="setting__nav-link setting__nav-link_active">Edit Profile</a>
		<a href="#" class="setting__nav-link">Preferences</a>
		<a href="#" class="setting__nav-link">Security</a>
	</div>
	<div class="setting__body">
		<div class="setting__user">
			<div class="setting__user-photo"><img class="cover" src="img/user-photo.png" alt=""></div>
			<button class="setting__user-button"></button>
		</div>
		<form class="setting__form form" action="#">
			<div class="form__field">
				<label class="form__label">Your Name</label>
				<input class="form__input" type="text" name="name" placeholder="Your Name" value="Charlene Reed" required>
			</div>
			<div class="form__field">
				<label class="form__label">User Name</label>
				<input class="form__input" type="text" name="username" placeholder="User Name" value="Charlene Reed" required>
			</div>
			<div class="form__field">
				<label class="form__label">Email</label>
				<input class="form__input" type="email" name="email" placeholder="Email" value="charlenereed@gmail.com" required>
			</div>
			<div class="form__field">
				<label class="form__label">Password</label>
				<input class="form__input" type="password" name="password" placeholder="Password" value="frdeg45&" required>
			</div>
			<div class="form__field">
				<label class="form__label">Date of Birth</label>
				<input class="form__input form__input_date" type="text" name="birth" placeholder="Date of Birth" value="25 January 1990" required>
			</div>
			<div class="form__field">
				<label class="form__label">Present Address</label>
				<input class="form__input" type="text" name="address" placeholder="Present Address" value="San Jose, California, USA" required>
			</div>
			<div class="form__field">
				<label class="form__label">Permanent Address</label>
				<input class="form__input" type="text" name="address2" placeholder="Permanent Address" value="San Jose, California, USA" required>
			</div>
			<div class="form__field">
				<label class="form__label">City</label>
				<input class="form__input" type="text" name="city" placeholder="City" value="San Jose" required>
			</div>
			<div class="form__field">
				<label class="form__label">Postal Code</label>
				<input class="form__input" type="text" name="postalcode" placeholder="Postal Code" value="45962" required>
			</div>
			<div class="form__field">
				<label class="form__label">Country</label>
				<input class="form__input" type="text" name="Country" placeholder="Country" value="USA" required>
			</div>
			<button class="form__button button" type="submit">Save</button>
		</form>
	</div>
</section>